@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  width: 100%;
  background-color: black;
}
.light-mode {
  background-color: white;
  color: rgb(0, 0, 0);
}
.butten{
  color:white;
}

.card-body{
  color: white;
  background-color:#101010;
}



/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
    padding: 1rem;
  }
  .navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color:rgba(0, 0, 0,0.5);
  }
  
  .navbar-brand img{
    height: 3rem;

  }
  .navbar-nav li{
    padding-right: .7rem;
  }
  .carousel-item{
    margin-top: 4rem;
    height: 100vh;
  }

  
  
  /*--- Bootstrap Mobile Gutter Fix --*/
  .row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 3rem;
  }
  footer img{
    height: 3rem;
    margin: 1.5rem 0;
  }
  footer a{
    color: white;
  }
  hr.socket{
    border-top: .2rem solid #666b71;
    width: 100%;
  }  


  .card-signin {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 3rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  #Login{
    background-color: black;
  }
  
  /*============= IMAGE SLIDER =============*/
  
  .carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /*---Change Carousel Transition Speed --*/
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease,-webkit-transform 1.2s ease;
  
  }
  .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
   }
/*---map--*/
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }